body {
    font-family: arial;
}

h1,
h2 {
    color: green;
}

ul li a {
    color: gold;
}

ol li a {
    color: red;
}

#p1 {
    color: orange;
}

.p2 {
    color: limegreen;
}

.cetak-tebal {
    font-weight: bold;
}